body {
  background-image: url(../crispy-images/pexel-photo.jpeg);
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header a {
  text-decoration: white;
}
